/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://images2.alphacoders.com/686/686188.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
}